
BlueJ/MediaLib/package.bluej

*.gradle
*.pro
*.ogg
*.properties
Android/Synthesizer/gradlew
*.bat
BlueJ/MediaLib/package.bluej
BlueJ/MediaLib/package.bluej
*.bluej
*.png
Android/Synthesizer/.idea/caches/build_file_checksums.ser
Android/Synthesizer/app/src/androidTest/java/com/sam/synthesizer/ExampleInstrumentedTest.java
Android/Synthesizer/gradle/wrapper/gradle-wrapper.jar
IntelliJ/SciFi Name Gen/SciFi/.idea/vcs.xml
